@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.container-cards{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
}

.card{
    width: 120px;
    height: 120px;
    position: relative;
}

.bg-card{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
}

.card .club, .flip{
    width: 100%;
    height: 100%;
    object-fit: contain;
}